<!doctype html>
<html lang="fr-ca">
<head>
  <meta charset="UTF-8">
  <title>{{ page.titre | strip_html }} — Les notes de Rémi Prévost</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link href="http://fonts.googleapis.com/css?family=Lato:light,regular,regularitalic,lightitalic,bold&amp;v1" media="all" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
  <link rel="alternate" href="/atom.xml" title="Les notes de Rémi Prévost — dernières notes" type="application/atom+xml" />
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-9062654-4']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
</head>
<body class="template-{{ page.section }}">
  <div id="wrap">
    <header class="group">
      <p class="main">
        <strong><a href="/">Les <em>notes</em> de <em>Rémi Prévost</em></a></strong><br />
        <span>vim, git, ruby, html5 et autres buzzwords.</span>
      </p>
      <hr />
    </header>
    <div id="content">
      {{ content }}
    </div>
  </div>
</body>
</html>
{% comment %} vim: set et ts=2 sts=2 sw=2 fdm=marker fenc=utf-8 ft=liquid: {% endcomment %}
