---
layout: master
section: single
---
      <article>
        <time>{{ page.date | date: "%A, le %e %B %Y" }}</time>
        <h1>{{ page.titre }}</h1>
        <div class="article-content">
          {{ content }}
        </div>
        <div class="article-meta">
          Cette note a été publiée le {{ page.date | date:"%Y-%m-%d" }} par Rémi Prévost. Vous pouvez lui faire part de par courriel à <code>remi</code> suivi du symbole habituel puis de <code>exomel.com</code>. Vous devriez également le suivre sur Twitter via <a href="http://twitter.com/remi">@remi</a>.
        </div>
      </article>
